span.label {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
}

form[name="search_form"] select,
input {
  margin-bottom: 10px;
}
.controls {
  margin-bottom: 10px;
}
input[type="search"] {
  border-radius: 15px;
}
.highlight {
  font-weight: bold;
  font-style: normal;
}
.results {
  border: 1px solid #ccc;
}
.label-success {
  background-color: #933;
}
.label-info {
  background-color: #4a2;
}
.label-primary {
  background-color: #25b;
}
th {
  text-align: left;
}
